.Logo {
  display: flex;
  align-items: center;
}
.Logo img {
  margin: 10px;
  height: 70px;
  width: 80px;
}
.Logo span {
  font-family: FreeMono, monospace;
  color: white;
  font-size: 1.6rem;
  padding-bottom: 10px;
}