.TrifleControls {
    border: 3px solid #B22222;
    background-color: #8B0000;
    height: 310px;
    padding-left: .5rem; 
    margin-top: 30px;
    display: flex;
    flex-flow: column nowrap;
    align-items: right;
  } 