.Toolbar {
  display: flex;
  justify-content: space-between;

  background-color: rgb(252, 235, 169);
}

.Toolbar nav {
  display: none;
}
@media (min-width: 500px) {
  .Toolbar nav {
    display: block;
  }
};