.TrifleKit .bento {
    padding: 1rem; 
    padding-top: 50px; 
    width: 350px;
    height: 450px;
    flex-flow: column-reverse wrap-reverse; 
    overflow: unset; 
  }
  .TrifleKit .price {
    font-size: 2rem;
    font-weight: bold;
    font-family: FreeMono, monospace;
    text-align: center;
  }  
  .TrifleKit img{
    width: 280px;
  }