.TrifleKit .bento { 
    padding-top: 30px; 
    width: 350px;
    height: 450px;
    flex-flow: column-reverse;  
  }
  .TrifleKit .price {
    margin-top: 10px;
    font-size: 2rem;
    font-weight: bold;
    font-family: FreeMono, monospace;
    text-align: center;
  }  
  .TrifleKit img{
    width: 280px;
  }
  .glassStart{
    width: 300px;
    height: 30px;
    background-color: aqua;
  }
  .glassMain{
    width: 300px;
    height: 350px;
    border-right: solid aqua;
    border-left: solid aqua;
  }
  .glassEnd{
    width: 300px;
    height: 50px;
    background-color: aqua;
  }