.TrifleKit .bento { 
    padding-top: 30px; 
    width: 350px;
    height: 250px;
    flex-flow: column-reverse;  
    background-color: violet;
    border-radius: 10px;
  }
  .TrifleKit .price {
    margin-top: 10px;
    font-size: 2rem;
    font-weight: bold;
    font-family: FreeMono, monospace;
    text-align: center;
    margin-bottom: 20px;
  }  
  .TrifleKit img{
    width: 280px;
  }
