.TrifleControl {
  display: flex;
  align-items: center;
}
.TrifleControl .label {
  color: white; 
  font-family: 'Lexend Giga', sans-serif;
  font-size: 1.5rem;
  padding: .5rem;
}
.TrifleControl button {
  width: 20px;
  height: 20px;
  border: none;
  background-color: white;
  color: black;
  font-weight: bold;
  border-radius: 100%;
  cursor: pointer;
}
.TrifleControl button:disabled {
  opacity: .5;
}
.TrifleControl button:not(:disabled):hover {
  opacity: .8;
}