.CheckoutForm {
  display: flex;
  flex-flow: column nowrap;
}
.CheckoutForm input,
.CheckoutForm select {
  padding: 0.5em 1em;
  border: 0;
  border-radius: 20px;
  box-shadow: 0 0 5px rgb(250, 174, 186) inset;
  font-size: 1.2rem;
  min-width: 480px;
  margin-top: 0.5em;
}
.CheckoutForm input:focus,
.CheckoutForm select:focus {
  outline: none;
  box-shadow: 0 0 5px rgb(250, 174, 186) inset;
}
.CheckoutForm button {
  margin: 1em 0;
}