.Trifle { 
  height: 100%;
  width: 100%; 
  background-size: contain;
  background-repeat: no-repeat; 
} 
.banana {
  background-image: url(../../../../assets/banana.png); 
}  
.strawberry {
  background-image: url(../../../../assets/strawberry.png);
} 
.iceCream {
  background-image: url(../../../../assets/iceCream.png);
} 
.chocolateBiscuit{
  background-image: url(../../../../assets/chocolateBiscuit.png);
}
.biscuit{
  background-image: url(../../../../assets/biscuit.png);
}
.blueberries{
  background-image: url(../../../../assets/blueberries.png);
}