.SushiKit .bento {
  border: 3px solid gray;
  background-color: lightgray;
  width: 400px;
  height: 300px;
  padding-top: 0.5rem;
  padding-left: 0.5rem;

  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
  justify-content: space-evenly;

  overflow: hidden;
}
.SushiKit .price {
  font-size: 2rem;
  font-weight: bold;
}
