.Button {
    border: none;
    background-color: white;
    color: gold;
    font-weight: bold;
    border-radius: 20px;
    cursor: pointer;  
    font-family: FreeMono, monospace; 
    font-size: 1.5rem;
    text-transform: uppercase;
    width: 110px;  
  }
  .Button:disabled {
    opacity: .5;
  }
  .Button:not(:disabled):hover {
    opacity: .8;
  }
  .red{ 
    color: black;
  }
  .orange {
    background-color: #8B0000;
    color: white;
  }