.Button {
    border: none;
    font-weight: bold;
    background-color:  rgb(250, 174, 186);
    color: white;
    border-radius: 20px;
    cursor: pointer;  
    font-family: FreeMono, monospace; 
    font-size: 1.3rem;
    text-transform: uppercase; 
    width: 120px;
  }
  .Button:disabled {
    opacity: .5;
  }
  .Button:not(:disabled):hover {
    opacity: .8;
  }
  .red{ 
    color: white;
    background-color:  rgb(248, 225, 132);
  }
  .green {
    background-color: rgb(250, 174, 186);
    color: white;
  }