.NaviItem a {
    display: flex;
    align-items: center;
    padding: 1rem;
    height: 50px;
  
    font-family: FreeMono, monospace;
    text-decoration: none;
    color: white;
    font-size: 1.3rem;
    border-right: 5px solid transparent;
  
    transition: all .2s ease-in-out;
  }
  .NavItem a:hover {
    border-color: white;
    background-color: rgba(255, 255, 255, .3);
  }
  .NavItem .active {
    border-color: white;
    background-color: rgba(255, 255, 255, .1);
  }
  
  @media (min-width: 500px) {
    .NavItem a {
      height: 70px;
      border: none;
      border-bottom: 5px solid transparent;
    }
  } 