  * {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
}
h1 {
  color: #8B0000;
  font-family: FreeMono, monospace;
  width: 100%;
  text-align: center;
  font-size: 3rem;
  margin-top: 0;
}
